In [1]:
import pandas as pd
import numpy as np

In [183]:
income = pd.read_csv('data/income tentative.csv')

In [184]:
cost = pd.read_csv('data/costOfLiving.csv')

In [185]:
income = income[income.stateProvince != 'US']
max_income = income.max(axis = 0,numeric_only=True)
print(max_income)

avgIncome    56001
dtype: int64

In [186]:
income['avgIncome'] = income['avgIncome'].apply(lambda x: x / max_income)
income

   stateProvince  avgIncome
1             AL   0.606150
2             AK   0.788807
3             AZ   0.624971
4             AR   0.591954
5             CA   0.769701
6             CO   0.764308
7             CT   1.000000
8             DE   0.713594
9             FL   0.701273
10            GA   0.633739
11            HI   0.732505
12            ID   0.576008
13            IL   0.770683
14            IN   0.623971
15            IA   0.683577
16            KS   0.709577
17            KY   0.595489
18            LA   0.686523
19            ME   0.666060
20            MD   0.875431
21            MA   0.920555
22            MI   0.635649
23            MN   0.765040
24            MS   0.556883
25            MO   0.660327
26            MT   0.630649
27            NE   0.706362
28            NV   0.660649
29            NH   0.787200
30            NJ   0.906787
31            NM   0.604221
32            NY   0.871788
33            NC   0.636381
34            ND   0.724916
35            OH   0.649899
36            OK   0.650363
37            OR   0.662399
38            PA   0.734844
39            RI   0.760326
40            SC   0.592186
41            SD   0.694005
42            TN   0.630471
43            TX   0.705220
44            UT   0.582043
45            VT   0.719326
46            VA   0.799307
47            WA   0.777915
48            WV   0.582865
49            WI   0.686273
50            WY   0.854467

In [187]:
cost = cost.groupby(['stateProvince'])['index'].mean().reset_index(name="index")
cost

   stateProvince       index
0             AK  132.751940
1             AL   92.791675
2             AR   90.664308
3             AZ  103.811613
4             CA  132.690091
5             CO  100.692500
6             CT  130.272778
7             DE  102.461508
8             FL   99.485706
9             GA   92.135098
10            HI  165.737756
11            IA   94.057543
12            ID   93.124494
13            IL   95.621145
14            IN   92.958784
15            KS   91.378412
16            KY   89.248212
17            LA   96.080367
18            MA  120.220416
19            MD  124.939282
20            ME  116.523825
21            MI   93.757363
22            MN  102.298261
23            MO   91.934076
24            MS   92.298478
25            MT  100.073795
26            NC   97.097152
27            ND   95.973358
28            NE   90.851083
29            NH  116.752692
30            NJ  128.589334
31            NM   98.950572
32            NV  101.460724
33            NY  126.327496
34            OH   93.893510
35            OK   90.148590
36            OR  110.572351
37            PA  100.624396
38            RI  123.329222
39            SC   98.216858
40            SD   94.112865
41            TN   89.542264
42            TX   91.216771
43            UT   94.661454
44            VA  101.960333
45            VT  120.476880
46            WA  104.041570
47            WI   96.518844
48            WV   96.053438
49            WY   98.736547

In [188]:
cost['index'] = cost['index'].apply(lambda x: 100/x)
cost

   stateProvince     index
0             AK  0.753285
1             AL  1.077683
2             AR  1.102970
3             AZ  0.963283
4             CA  0.753636
5             CO  0.993123
6             CT  0.767620
7             DE  0.975976
8             FL  1.005170
9             GA  1.085363
10            HI  0.603363
11            IA  1.063179
12            ID  1.073831
13            IL  1.045794
14            IN  1.075746
15            KS  1.094350
16            KY  1.120471
17            LA  1.040795
18            MA  0.831805
19            MD  0.800389
20            ME  0.858194
21            MI  1.066583
22            MN  0.977534
23            MO  1.087736
24            MS  1.083441
25            MT  0.999263
26            NC  1.029896
27            ND  1.041956
28            NE  1.100702
29            NH  0.856511
30            NJ  0.777669
31            NM  1.010606
32            NV  0.985603
33            NY  0.791593
34            OH  1.065036
35            OK  1.109280
36            OR  0.904385
37            PA  0.993795
38            RI  0.810838
39            SC  1.018155
40            SD  1.062554
41            TN  1.116791
42            TX  1.096290
43            UT  1.056396
44            VA  0.980774
45            VT  0.830035
46            WA  0.961154
47            WI  1.036067
48            WV  1.041087
49            WY  1.012796

In [189]:
income_data = income.merge(cost,how='outer')
income_data

   stateProvince  avgIncome     index
0             AL   0.606150  1.077683
1             AK   0.788807  0.753285
2             AZ   0.624971  0.963283
3             AR   0.591954  1.102970
4             CA   0.769701  0.753636
5             CO   0.764308  0.993123
6             CT   1.000000  0.767620
7             DE   0.713594  0.975976
8             FL   0.701273  1.005170
9             GA   0.633739  1.085363
10            HI   0.732505  0.603363
11            ID   0.576008  1.073831
12            IL   0.770683  1.045794
13            IN   0.623971  1.075746
14            IA   0.683577  1.063179
15            KS   0.709577  1.094350
16            KY   0.595489  1.120471
17            LA   0.686523  1.040795
18            ME   0.666060  0.858194
19            MD   0.875431  0.800389
20            MA   0.920555  0.831805
21            MI   0.635649  1.066583
22            MN   0.765040  0.977534
23            MS   0.556883  1.083441
24            MO   0.660327  1.087736
25            MT   0.630649  0.999263
26            NE   0.706362  1.100702
27            NV   0.660649  0.985603
28            NH   0.787200  0.856511
29            NJ   0.906787  0.777669
30            NM   0.604221  1.010606
31            NY   0.871788  0.791593
32            NC   0.636381  1.029896
33            ND   0.724916  1.041956
34            OH   0.649899  1.065036
35            OK   0.650363  1.109280
36            OR   0.662399  0.904385
37            PA   0.734844  0.993795
38            RI   0.760326  0.810838
39            SC   0.592186  1.018155
40            SD   0.694005  1.062554
41            TN   0.630471  1.116791
42            TX   0.705220  1.096290
43            UT   0.582043  1.056396
44            VT   0.719326  0.830035
45            VA   0.799307  0.980774
46            WA   0.777915  0.961154
47            WV   0.582865  1.041087
48            WI   0.686273  1.036067
49            WY   0.854467  1.012796

In [190]:
income_data['adjustedIncome'] = income_data['avgIncome'] * income_data['index']
income_data

   stateProvince  avgIncome     index  adjustedIncome
0             AL   0.606150  1.077683        0.653237
1             AK   0.788807  0.753285        0.594196
2             AZ   0.624971  0.963283        0.602024
3             AR   0.591954  1.102970        0.652907
4             CA   0.769701  0.753636        0.580074
5             CO   0.764308  0.993123        0.759051
6             CT   1.000000  0.767620        0.767620
7             DE   0.713594  0.975976        0.696451
8             FL   0.701273  1.005170        0.704898
9             GA   0.633739  1.085363        0.687836
10            HI   0.732505  0.603363        0.441966
11            ID   0.576008  1.073831        0.618535
12            IL   0.770683  1.045794        0.805975
13            IN   0.623971  1.075746        0.671234
14            IA   0.683577  1.063179        0.726765
15            KS   0.709577  1.094350        0.776525
16            KY   0.595489  1.120471        0.667228
17            LA   0.686523  1.040795        0.714530
18            ME   0.666060  0.858194        0.571608
19            MD   0.875431  0.800389        0.700685
20            MA   0.920555  0.831805        0.765723
21            MI   0.635649  1.066583        0.677973
22            MN   0.765040  0.977534        0.747852
23            MS   0.556883  1.083441        0.603350
24            MO   0.660327  1.087736        0.718262
25            MT   0.630649  0.999263        0.630184
26            NE   0.706362  1.100702        0.777495
27            NV   0.660649  0.985603        0.651138
28            NH   0.787200  0.856511        0.674246
29            NJ   0.906787  0.777669        0.705181
30            NM   0.604221  1.010606        0.610629
31            NY   0.871788  0.791593        0.690102
32            NC   0.636381  1.029896        0.655407
33            ND   0.724916  1.041956        0.755330
34            OH   0.649899  1.065036        0.692166
35            OK   0.650363  1.109280        0.721435
36            OR   0.662399  0.904385        0.599064
37            PA   0.734844  0.993795        0.730284
38            RI   0.760326  0.810838        0.616501
39            SC   0.592186  1.018155        0.602937
40            SD   0.694005  1.062554        0.737418
41            TN   0.630471  1.116791        0.704104
42            TX   0.705220  1.096290        0.773125
43            UT   0.582043  1.056396        0.614868
44            VT   0.719326  0.830035        0.597066
45            VA   0.799307  0.980774        0.783939
46            WA   0.777915  0.961154        0.747696
47            WV   0.582865  1.041087        0.606813
48            WI   0.686273  1.036067        0.711025
49            WY   0.854467  1.012796        0.865401

In [191]:
income_data.to_csv('data/income.csv')