In [1]:
import pandas as pd
import numpy as np
import math
from datetime import datetime
from sklearn.linear_model import LinearRegression

In [2]:
# US Sample data
fulldata = pd.read_csv('data/Preprocessed.csv')

In [3]:
fulldata.shape

(14154437, 24)

In [7]:
# Generate Days Posted for each listing
df = fulldata
def get_diff(df):
    start = df['date'].min()
    end = df['date'].max()
    end_day = datetime.strptime(end, '%Y-%m-%d')
    start_day = datetime.strptime(start, '%Y-%m-%d')
    return (end_day-start_day).days + 1
def avg_days(df):
    return df.groupby('jobId').apply(get_diff).mean()

listings = df.groupby(['stateProvince','city'])
dates = listings.apply(avg_days).reset_index(name="DaysPosted")
dates.shape
dates
# print("Finished calculating")
# dates.set_index('jobId')
# df.set_index('jobId')
# dates = dates.join(df, how='inner', lsuffix='_left', rsuffix='_right')
# print("Finished joining")
# city_listings = dates.groupby(['stateProvince', 'city'])['DaysPosted'].mean().reset_index(name='AvgDays')
# print("Finished aggregating")
# city_listings.head(20)

      stateProvince                       city  DaysPosted
0                AK                       Adak   18.000000
1                AK                   Akiachak   25.333333
2                AK                  Anchorage   30.105666
3                AK                     Angoon   16.000000
4                AK                      Aniak    2.500000
5                AK                     Barrow   22.071429
6                AK                     Bethel   32.000000
7                AK                    Bettles    1.000000
8                AK                   Big Lake  100.000000
9                AK                  Birchwood   35.000000
10               AK                   Buckland   33.000000
11               AK                    Chignik   67.000000
12               AK                    Chugiak   36.250000
13               AK               Clarks Point    9.000000
14               AK                    College   51.400000
15               AK             Cooper Landing   51.000000
16               AK              Copper Center   46.000000
17               AK                    Cordova   36.833333
18               AK                      Craig   30.000000
19               AK              Crooked Creek    6.000000
20               AK                  Deadhorse    5.000000
21               AK             Delta Junction    3.888889
22               AK       Denali National Park   38.250000
23               AK                 Dillingham   56.000000
24               AK                    Douglas    6.000000
25               AK               Dutch Harbor   68.666667
26               AK                Eagle River   32.333333
27               AK                Eielson AFB   29.000000
28               AK                      Ekwok   30.000000
29               AK              Elmendorf AFB   22.000000
...             ...                        ...         ...
21216            WY                       Lusk   18.800000
21217            WY                      Lyman   73.000000
21218            WY                      Mills    8.800000
21219            WY                      Moran   19.437500
21220            WY              Mountain View    1.000000
21221            WY                  Newcastle   16.000000
21222            WY                  Pavillion    6.666667
21223            WY                Pine Bluffs   29.500000
21224            WY                   Pinedale   77.666667
21225            WY             Point of Rocks   50.000000
21226            WY                     Powell   21.444444
21227            WY                    Rawlins   14.785714
21228            WY                   Riverton   17.944444
21229            WY                 Rock River    1.000000
21230            WY               Rock Springs   27.919355
21231            WY                   Saratoga   46.000000
21232            WY                     Savery   12.000000
21233            WY                   Sheridan   18.312500
21234            WY                   Shoshoni    1.000000
21235            WY                   Sundance   43.500000
21236            WY                Thermopolis    8.437500
21237            WY                 Torrington   18.000000
21238            WY                       Urie   66.000000
21239            WY                  Wamsutter   33.666667
21240            WY                     Weston   32.000000
21241            WY                  Wheatland   31.846154
21242            WY                    Worland   27.055556
21243            WY                     Wright    4.000000
21244            WY                    Wyoming   18.200000
21245            WY  Yellowstone National Park    1.200000

[21246 rows x 3 columns]

In [8]:
dates.shape

(21246, 3)

In [10]:
dates.to_csv('data/competitiondata.csv')

In [9]:
city_listings.to_csv('data/listing_time.csv')
print("Finished writing to csv")

Finished writing to csv

In [90]:
# Regression
lm = LinearRegression(n_jobs=-1)
independent = df[['']]

KeyError: ('clicks', 'occurred at index Unnamed: 0')