In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from bokeh.plotting import figure
from bokeh.io import show

In [2]:
jpcity = pd.read_csv('data/jobspercity.csv')
trf = pd.read_csv('data/trafficSample1.csv')
comp = pd.read_csv('data/listing_time.csv')

In [3]:
jpcity.shape
jpcity.columns.values

array(['Unnamed: 0', 'stateProvince', 'city', 'jobs'], dtype=object)

In [4]:
trf.shape
trf.columns.values

array(['Unnamed: 0', 'city', 'stateProvince', 'clicks', 'localClicks',
       'nonlocalClicks'], dtype=object)

In [5]:
comp.shape
comp.columns.values

array(['Unnamed: 0', 'city', 'stateProvince', 'TotalClicks', 'AvgDays'],
      dtype=object)

In [6]:
merge = pd.merge(jpcity,trf,on=['city','stateProvince']).merge(comp,on=['city','stateProvince'])

In [7]:
merge = merge[merge['TotalClicks'] > 10]

In [8]:
merge = merge.drop(['Unnamed: 0_x','Unnamed: 0_y','Unnamed: 0'], axis = 1)

In [9]:
merge.columns.values

array(['stateProvince', 'city', 'jobs', 'clicks', 'localClicks',
       'nonlocalClicks', 'TotalClicks', 'AvgDays'], dtype=object)

In [10]:
merge['lateral_movement_score'] = (merge['jobs'] / (merge['TotalClicks'] + merge['AvgDays']))

In [11]:
norm = MinMaxScaler().fit_transform(pd.DataFrame(merge['lateral_movement_score']))
merge['lateral_movement_score_scaled'] = norm
merge.head(10)

,stateProvince,city,jobs,clicks,localClicks,nonlocalClicks,TotalClicks,AvgDays,lateral_movement_score,lateral_movement_score_scaled
0,AK,Anchorage,84,2480,696,1784,2480,3.678571,0.033821,0.197447
1,AK,Barrow,1,23,1,22,23,1.000000,0.041667,0.244845
2,AK,Bethel,3,43,4,39,43,1.000000,0.068182,0.405030
4,AK,Chignik,1,23,1,22,23,1.000000,0.041667,0.244845
5,AK,Chugiak,1,34,0,34,34,1.000000,0.028571,0.165734
6,AK,Cooper Landing,1,13,0,13,13,1.000000,0.071429,0.424644
7,AK,Delta Junction,2,47,4,43,47,1.000000,0.041667,0.244845
8,AK,Denali National Park,2,33,3,30,33,1.000000,0.058824,0.348494
9,AK,Dutch Harbor,2,31,3,28,31,1.000000,0.062500,0.370704
10,AK,Eagle River,1,29,3,26,29,1.000000,0.033333,0.194502

In [12]:
merge.sort_values('lateral_movement_score_scaled', ascending=False)

,stateProvince,city,jobs,clicks,localClicks,nonlocalClicks,TotalClicks,AvgDays,lateral_movement_score,lateral_movement_score_scaled
3880,MI,Iron River,2,11,8,3,11,1.000000,0.166667,1.000000
7125,PA,Pennsburg,2,11,7,4,11,1.000000,0.166667,1.000000
3477,MD,District Heights,2,11,0,11,11,1.000000,0.166667,1.000000
3844,MI,Grand Ledge,2,11,4,7,11,1.000000,0.166667,1.000000
6156,OH,Archbold,3,18,5,13,18,1.000000,0.157895,0.947007
8720,WA,Union Gap,2,12,6,6,12,1.000000,0.153846,0.922548
8879,WI,Neillsville,2,12,3,9,12,1.000000,0.153846,0.922548
8583,WA,Algona,2,12,3,9,12,1.000000,0.153846,0.922548
3955,MI,Paw Paw,2,12,4,8,12,1.000000,0.153846,0.922548
647,CA,Lomita,2,13,7,6,13,1.000000,0.142857,0.856161
6580,OK,Elgin,2,13,2,11,13,1.000000,0.142857,0.856161
7186,PA,Shamokin Dam,2,13,5,8,13,1.000000,0.142857,0.856161
4062,MN,Andover,3,21,4,17,21,1.000000,0.136364,0.816932
4468,MO,Shrewsbury,2,14,3,11,14,1.000000,0.133333,0.798625
7135,PA,Pleasant Hills,2,14,4,10,14,1.000000,0.133333,0.798625
1985,IA,Cherokee,2,14,1,13,14,1.000000,0.133333,0.798625
101,AL,Jackson,2,14,3,11,14,1.000000,0.133333,0.798625
112,AL,McCalla,2,14,4,10,14,1.000000,0.133333,0.798625
6915,PA,Feasterville-Trevose,3,22,3,19,22,1.000000,0.130435,0.781115
8967,WI,Waupaca,4,30,8,22,30,1.000000,0.129032,0.772642
7724,TX,Azle,3,23,1,22,23,1.000000,0.125000,0.748282
3328,MA,Plainville,4,31,6,25,31,1.000000,0.125000,0.748282
5687,NY,Clay,2,15,1,14,15,1.000000,0.125000,0.748282
1600,FL,Summerfield,2,15,3,12,15,1.000000,0.125000,0.748282
1108,CO,Yuma,2,15,4,11,15,1.000000,0.125000,0.748282
19,AK,Ketchikan,2,15,3,12,15,1.000000,0.125000,0.748282
3724,MI,Allendale,2,15,3,12,15,1.000000,0.125000,0.748282
380,CA,Arleta,2,15,3,12,15,1.000000,0.125000,0.748282
4929,ND,Devils Lake,2,15,13,2,15,1.000000,0.125000,0.748282
6030,NY,Rye Brook,3,24,6,18,24,1.000000,0.120000,0.718076
...,...,...,...,...,...,...,...,...,...,...
3046,LA,Galliano,1,102,12,90,102,72.000000,0.005747,0.027847
6864,PA,Davidsville,1,175,0,175,175,1.000000,0.005682,0.027452
125,AL,Owens Cross Roads,1,94,15,79,94,84.000000,0.005618,0.027067
704,CA,Moraga,1,177,4,173,177,1.000000,0.005618,0.027067
4717,NC,Edenton,3,524,80,444,524,16.000000,0.005556,0.026690
4572,MS,Petal,2,339,12,327,339,32.000000,0.005391,0.025694
8101,TX,Selma,1,185,3,182,185,1.000000,0.005376,0.025607
1057,CO,Ken Caryl,1,191,3,188,191,1.000000,0.005208,0.024592
8192,UNKNOWN,Work at Home,18,3455,26,3429,3455,2.388889,0.005206,0.024579
7169,PA,Sandy Lake,2,364,7,357,364,23.000000,0.005168,0.024348
2064,IA,Polk City,1,194,2,192,194,1.000000,0.005128,0.024108
8475,VA,Spotsylvania,1,195,6,189,195,1.000000,0.005102,0.023950
5433,NJ,Southampton,1,196,3,193,196,1.000000,0.005076,0.023793
5356,NJ,Oceanport,1,200,2,198,200,1.000000,0.004975,0.023183
3400,MA,West Bridgewater,3,608,8,600,608,1.000000,0.004926,0.022887
5266,NJ,Lake Hopatcong,1,205,3,202,205,1.000000,0.004854,0.022454
5233,NJ,Hainesport,1,205,0,205,205,1.000000,0.004854,0.022454
7163,PA,Roxborough,1,206,0,206,206,1.000000,0.004831,0.022312
4116,MN,East Bethel,1,156,3,153,156,51.000000,0.004831,0.022312
7263,PA,Washington Boro,1,117,3,114,117,91.000000,0.004808,0.022172
6198,OH,Brookpark,1,228,2,226,228,1.000000,0.004367,0.019508
8027,TX,New Waverly,1,232,1,231,232,1.000000,0.004292,0.019055
1889,GA,Union City,2,470,5,465,470,1.000000,0.004246,0.018780
4887,NC,Sunset Beach,1,238,6,232,238,1.000000,0.004184,0.018404
6110,NY,Waterford,1,239,5,234,239,1.000000,0.004167,0.018299
6075,NY,Stony Point,1,279,15,264,279,28.000000,0.003257,0.012805
8062,TX,Presidio,1,308,6,302,308,1.000000,0.003236,0.012678
2641,IN,Harlan,1,314,0,314,314,39.000000,0.002833,0.010241
5117,NJ,Absecon,1,683,51,632,683,1.000000,0.001462,0.001959
811,CA,Ripon,1,878,29,849,878,1.000000,0.001138,0.000000

In [13]:
merge.columns.values

array(['stateProvince', 'city', 'jobs', 'clicks', 'localClicks',
       'nonlocalClicks', 'TotalClicks', 'AvgDays',
       'lateral_movement_score', 'lateral_movement_score_scaled'],
      dtype=object)

In [17]:
P = figure()
P.circle(merge['lateral_movement_score_scaled'],merge['jobs'])
show(P)

In [18]:
merge.to_csv('data/lateral_movement.csv')