In [99]:
import pandas as pd
import numpy as np

In [138]:
pop_by_zip = pd.read_csv('data/population_by_zip_2010.csv')

In [139]:
us_postal_codes = pd.read_csv('data/us_postal_codes.csv')

In [140]:
popzip = pop_by_zip.groupby('zipcode')['population'].sum().reset_index(name="popsum")
popzip.head(20)

    zipcode  popsum
0       602  108502
1       603  117092
2       606   10579
3       610   34457
4       612   67536
5       616   17856
6       617   67305
7       622   13479
8       623  112168
9       624   73020
10      627   90031
11      631    2103
12      637   67016
13      638   40337
14      641   54112
15      646   80856
16      647    4012
17      650   39112
18      652   12024
19      653   28699

In [141]:
temp = us_postal_codes.merge(popzip,how='outer',on='zipcode')

In [142]:
temp = temp.dropna()
us_postal_codes = temp
us_postal_codes

       zipcode             city          state   popsum
2         1001           Agawam  Massachusetts  20545.0
3         1002          Amherst  Massachusetts  33219.0
4         1003          Amherst  Massachusetts  23661.0
6         1005            Barre  Massachusetts   8151.0
7         1007      Belchertown  Massachusetts  30796.0
8         1008        Blandford  Massachusetts   1028.0
9         1009       Bondsville  Massachusetts   1977.0
10        1010        Brimfield  Massachusetts   6093.0
11        1011          Chester  Massachusetts   3571.0
12        1012     Chesterfield  Massachusetts   1717.0
13        1013         Chicopee  Massachusetts  24405.0
15        1020         Chicopee  Massachusetts  80009.0
17        1022         Chicopee  Massachusetts   4147.0
18        1026       Cummington  Massachusetts   1642.0
19        1027      Easthampton  Massachusetts  36853.0
20        1028  East Longmeadow  Massachusetts  41228.0
21        1029        East Otis  Massachusetts   1336.0
22        1030    Feeding Hills  Massachusetts  30695.0
23        1031     Gilbertville  Massachusetts   2943.0
24        1032           Goshen  Massachusetts   1474.0
25        1033           Granby  Massachusetts   6593.0
26        1034        Granville  Massachusetts   3464.0
27        1035           Hadley  Massachusetts   8648.0
28        1036          Hampden  Massachusetts  13107.0
29        1037         Hardwick  Massachusetts   2174.0
30        1038         Hatfield  Massachusetts   6496.0
31        1039      Haydenville  Massachusetts   2892.0
32        1040          Holyoke  Massachusetts  87089.0
34        1050       Huntington  Massachusetts   2077.0
35        1053            Leeds  Massachusetts   3813.0
...        ...              ...            ...      ...
40895    99786           Ambler         Alaska    303.0
40896    99788      Chalkyitsik         Alaska    108.0
40897    99789          Nuiqsut         Alaska    676.0
40898    99790        Fairbanks         Alaska     13.0
40899    99791          Atqasuk         Alaska    498.0
40900    99801           Juneau         Alaska  76201.0
40905    99820           Angoon         Alaska    815.0
40907    99824          Douglas         Alaska   3419.0
40908    99825       Elfin Cove         Alaska    233.0
40909    99826         Gustavus         Alaska    943.0
40910    99827           Haines         Alaska   2725.0
40911    99829           Hoonah         Alaska    562.0
40912    99830             Kake         Alaska    336.0
40913    99832          Pelican         Alaska    105.0
40914    99833       Petersburg         Alaska   1978.0
40915    99835            Sitka         Alaska  14993.0
40916    99836   Port Alexander         Alaska     50.0
40917    99840          Skagway         Alaska   2364.0
40918    99841  Tenakee Springs         Alaska    262.0
40920    99901        Ketchikan         Alaska  35580.0
40921    99903     Meyers Chuck         Alaska     38.0
40922    99918     Coffman Cove         Alaska    540.0
40923    99919       Thorne Bay         Alaska   1226.0
40924    99921            Craig         Alaska   2101.0
40925    99922         Hydaburg         Alaska    765.0
40926    99923            Hyder         Alaska    199.0
40927    99925          Klawock         Alaska    802.0
40928    99926       Metlakatla         Alaska   3807.0
40929    99927      Point Baker         Alaska    159.0
40931    99929         Wrangell         Alaska   5217.0

[32972 rows x 4 columns]

In [135]:
us_postal_codes.columns

Index(['zipcode', 'city', 'state', 'popsum'], dtype='object')

In [143]:
keys = ['city','state']
population = us_postal_codes.groupby(['city','state'])['popsum'].sum().reset_index(name="pop")
population.head(100)

                       city           state       pop
0                Aaronsburg    Pennsylvania    2781.0
1                 Abbeville         Alabama   14551.0
2                 Abbeville         Georgia   13033.0
3                 Abbeville       Louisiana   49948.0
4                 Abbeville     Mississippi    2537.0
5                 Abbeville  South Carolina   19096.0
6                     Abbot           Maine    1201.0
7                Abbotsford       Wisconsin    3257.0
8                    Abbott           Texas    2848.0
9               Abbottstown    Pennsylvania    6660.0
10                Abbyville          Kansas     322.0
11                    Abell        Maryland     940.0
12              Abercrombie    North Dakota     119.0
13                 Aberdeen           Idaho    8937.0
14                 Aberdeen        Maryland   45831.0
15                 Aberdeen     Mississippi   31221.0
16                 Aberdeen  North Carolina   19934.0
17                 Aberdeen            Ohio    2994.0
18                 Aberdeen    South Dakota   65012.0
19                 Aberdeen      Washington   29267.0
20  Aberdeen Proving Ground        Maryland    4192.0
21                Abernathy           Texas    5743.0
22                     Abie        Nebraska     175.0
23                  Abilene          Kansas   27691.0
24                  Abilene           Texas  237188.0
25                 Abingdon        Illinois    6256.0
26                 Abingdon        Maryland   49217.0
27                 Abingdon        Virginia   40793.0
28                 Abington   Massachusetts   42154.0
29                 Abington    Pennsylvania   37339.0
..                      ...             ...       ...
70                     Adak          Alaska     863.0
71                  Adamant         Vermont     185.0
72                    Adams        Kentucky     494.0
73                    Adams   Massachusetts   13905.0
74                    Adams       Minnesota    3864.0
75                    Adams        Nebraska     813.0
76                    Adams        New York    5334.0
77                    Adams    North Dakota     665.0
78                    Adams        Oklahoma     402.0
79                    Adams          Oregon    1778.0
80                    Adams       Tennessee    9342.0
81                    Adams       Wisconsin    7458.0
82             Adams Center        New York    5879.0
83                Adams Run  South Carolina    3740.0
84                Adamsburg    Pennsylvania     283.0
85                Adamstown        Maryland    9662.0
86                Adamstown    Pennsylvania    2245.0
87               Adamsville         Alabama   13127.0
88               Adamsville            Ohio    1337.0
89               Adamsville    Pennsylvania     711.0
90               Adamsville       Tennessee   10589.0
91               Addieville        Illinois    2027.0
92                Addington        Oklahoma     337.0
93                    Addis       Louisiana    7902.0
94                  Addison         Alabama    4168.0
95                  Addison        Illinois   51632.0
96                  Addison           Maine    2719.0
97                  Addison        Michigan    2494.0
98                  Addison        New York   12193.0
99                  Addison    Pennsylvania     669.0

[100 rows x 3 columns]

In [145]:
population.to_csv('data/population.csv')