In [25]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv('data/Preprocessed.csv')

In [30]:
filtered_data = data.filter(['stateProvince','city','clicks','localClicks'])
filtered_data.head(20)

   stateProvince                 city  clicks  localClicks
0             TX    Dallas-Fort Worth      18            2
1             MA               Boston      14            3
2             FL            Melbourne       7            0
3             MA             Plymouth      23           23
4             NV            Las Vegas      10            3
5             NY          Westchester      17            1
6             NC            Goldsboro       9            9
7             NY              Buffalo      16            3
8             OH       Upper Sandusky       4            3
9             NY             New York      25            1
10            NC            Charlotte      23            1
11            IL               Peoria      22            2
12            PA      King of Prussia      23            0
13            MI                Flint       4            2
14            FL                 Pace      21            1
15            MN  Inver Grove Heights      14            0
16            CA  South San Francisco      25            2
17            AZ          Casa Grande      26            3
18            CA           Northridge      28            0
19            IN         Indianapolis       2            2

In [65]:
click_grouped = filtered_data.groupby(['city','stateProvince'])['clicks'].sum().reset_index(name="clicks")
click_grouped.head(20)

                                     city stateProvince  clicks
0   11 North-Victoria Road-FM 493 Colonia            TX      86
1                                29 Palms            CA    3986
2                                     ASU            AZ     146
3                               Abbeville            AL     149
4                               Abbeville            GA      15
5                               Abbeville            LA    6968
6                               Abbeville            MS     100
7                               Abbeville            SC    3947
8                                   Abbot            IL      14
9                                   Abbot            ME     124
10                             Abbotsford            WI    6517
11                                 Abbott            TX     239
12                            Abbott Park            IL   13325
13                            Abbottstown            PA     533
14                          Aber Prov Grd            MD     563
15                               Aberdeen            ID     519
16                               Aberdeen            IN     104
17                               Aberdeen            KY     176
18                               Aberdeen            MD   69378
19                               Aberdeen            MS    2007

In [66]:
local_click_grouped = filtered_data.groupby(['city','stateProvince'])['localClicks'].sum().reset_index(name="localClicks")
local_click_grouped.head(20)

                                     city stateProvince  localClicks
0   11 North-Victoria Road-FM 493 Colonia            TX            4
1                                29 Palms            CA          153
2                                     ASU            AZ           20
3                               Abbeville            AL            9
4                               Abbeville            GA            3
5                               Abbeville            LA         1531
6                               Abbeville            MS            9
7                               Abbeville            SC          589
8                                   Abbot            IL            3
9                                   Abbot            ME            7
10                             Abbotsford            WI          562
11                                 Abbott            TX           26
12                            Abbott Park            IL          809
13                            Abbottstown            PA           27
14                          Aber Prov Grd            MD           37
15                               Aberdeen            ID           50
16                               Aberdeen            IN           15
17                               Aberdeen            KY           16
18                               Aberdeen            MD         8664
19                               Aberdeen            MS          121

In [67]:
all_clicks = click_grouped.merge(local_click_grouped,how='outer')
all_clicks['nonlocalClicks'] = all_clicks['clicks']-all_clicks['localClicks']
all_clicks.head(20)

,city,stateProvince,clicks,localClicks,nonlocalClicks
0,11 North-Victoria Road-FM 493 Colonia,TX,86,4,82
1,29 Palms,CA,3986,153,3833
2,ASU,AZ,146,20,126
3,Abbeville,AL,149,9,140
4,Abbeville,GA,15,3,12
5,Abbeville,LA,6968,1531,5437
6,Abbeville,MS,100,9,91
7,Abbeville,SC,3947,589,3358
8,Abbot,IL,14,3,11
9,Abbot,ME,124,7,117
10,Abbotsford,WI,6517,562,5955
11,Abbott,TX,239,26,213
12,Abbott Park,IL,13325,809,12516
13,Abbottstown,PA,533,27,506
14,Aber Prov Grd,MD,563,37,526
15,Aberdeen,ID,519,50,469
16,Aberdeen,IN,104,15,89
17,Aberdeen,KY,176,16,160
18,Aberdeen,MD,69378,8664,60714
19,Aberdeen,MS,2007,121,1886

In [68]:
all_clicks.to_csv('data/traffic.csv')